@model CoffeeShopGC.Program
@{
    ViewData["Title"] = "formresponse";
}

<h4>Program</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h1 class="FormRES">  Form Response  </h1>
        <h1>Welcome @ViewData["email"] @ViewData["firstName"] @ViewData["lastName"]</h1>
        @*<form asp-action="RegistrationRespone">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>*@
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>